$header-height: 4.8rem;
$menu-width: 24rem;
$tablet: 768px;
$mobile: 425px;
$item-width: 200px;
$item-width-m: 60vw;
$item-width-s: 40vw;

$main-border-color: #DCDCDC;
$main-linear-gradient: linear-gradient(to right, #18B6A1, #77C45C);
$icon-hover-color: #22A588;
$main-blue: #0b93f6;